* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#calculator {
  width: 600px;
  height: 800px;
  background-color: rgb(157, 158, 158);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display {
  font-family: "Seven Segment", sans-serif;
  background-color: azure;
  width: 100%;
  height: 100px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 20px;
  font-size: 100px;
  max-width: 520px;
}

.buttons {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  margin-top: 40px;
  border: 4px solid rgb(104, 103, 101);
}
.row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.button {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: rgb(145, 142, 139);
  border: 5px solid rgb(255, 145, 0);
  font-size: 70px;
  transition: all 0.1s ease-in-out;
  margin: 2px 10px;
}
#btn-clear {
  font-size: 40px;
}

.button:hover {
  background-color: rgb(255, 145, 0);
  transform: scale(1.1);

  color: black;
  cursor: pointer;
}

#btn-equals {
  background-color: rgb(255, 102, 0);
  color: black;
}
